<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Peter Lubell-Doughtie" />
{% for css in site.css %}<link rel="stylesheet" type="text/css" media="all" href="{{ css }}" />{% endfor %}
<title>pld - {{ page.title }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" />
</head>
<body>

<div class="container_12">
  <div class="prefix_1 grid_8">
    {{ content }}
  </div>
  <div class="grid_3">
    <h2><a href="/">Peter<br/>Lubell-Doughtie</a></h2>
    <a href="/about">about</a><br/>
    <a href="/projects">projects</a><br/>
    <a href="/archive">archive</a><br/><br/>
    <div class="subscribe">
        <a href="https://github.com/pld">github.com/pld</a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="prefix_1 grid_8 footer">
    peet.ldee.org
    <span>
    &copy; {{ site.time | date: "%Y" }} Peter Lubell-Doughtie.</span>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount', 'UA-4573443-5']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>
